@import
	url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap")
	;

@import
	url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
	background-image: url("../Images/bg-hero-desktop.svg");
	background-color: hsl(193, 100%, 96%);
}

.container {
	display: flex;
	flex-direction: row;
	margin: 110px 0px 10px 100px;
	gap: 30px;
	height: 100%;
}

.fdetails {
	width: 45%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 15px 40px;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.quote {
	width: 55%;
}

.quote p {
	color: hsl(208, 11%, 55%);
	font-size: 32px;
	margin: 100px 60px;
	padding-right: 40px;
	font-family: 'Rubik Dirt', cursive;
}

.fdetails h1 {
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.fdetails input, select {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
}

.fdetails label {
	font-size: 17px;
}

.fdetails input, select:focus, select:valid {
	border-color: #6E5DCF;
}

.search_btn {
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	padding: 10px;
	background-color: hsl(322, 100%, 66%);
}

.search_btn:active {
	background-color: hsl(322, 100%, 66%);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}