@import
	url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap")
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-image: url("../Images/alr.jpg"); */
	background-image: url("../Images/bg-hero-desktop.svg");
	background-color: hsl(193, 100%, 96%);
}

.container {
	max-width: 500px;
	background-color: hsl(193, 100%, 96%);
	padding: 25px 30px;
	height: 100%;
	margin: 60px 0px 10px 100px;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.fdetails {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fdetails h1 {
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.fdetails input, select {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
}

.fdetails label {
	font-size: 17px;
}

.fdetails input:focus {
	border-color: #6E5DCF;
}

.fdetails select:focus{
	border-color: #6E5DCF;
}
.fdetails input:valid{
	border-color: #6E5DCF;
}
.fdetails select:valid{
	border-color: #6E5DCF;
}

#bookingDateError{
	color: red;
	font-size: 17px;
	margin-left: 5px;
}

.search_btn {
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	padding: 10px;
	background-color: hsl(322, 100%, 66%);
}

.search_btn:active {
	background-color: hsl(322, 100%, 66%);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}