* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../Images/alr.jpg");
}

.pdetails {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.container {
	max-width: 700px;
	background-color: hsl(193, 100%, 96%);
	padding: 25px 30px;
	height: 100%;
	margin: 20px 0px 10px 100px;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.pdetails h1 {
	text-align: center;
	margin-bottom: 10px;
}

.pdetails input {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
}

.pdetails input:focus, .pdetails input:valid {
	border-color: #9b59b6;
}

form .input-div #togglePassword {
	position: absolute;
	top: 655px;
	left: 740px;
	cursor: pointer;
}

label {
	font-size: 18px;
	color: black;
	font-weight: 50;
}

.act {
	text-decoration: none;
	font-size: 20px;
	color: black;
	cursor: pointer;
	margin-left: 230px;
	margin-top: 25px;
	position: absolute;
	top: 870px;
}

.msg {
	color: hsl(0, 100%, 74%);
	font-style: italic;
	padding: 0.5em 0em 0em 0em;
	text-align: end;
	display: none;
}

.error input {
	border: 2px solid hsl(0, 100%, 74%);
}

.error input:focus {
	color: hsl(0, 100%, 74%);
}

.error .msg {
	display: none;
}

.act:hover {
	color: #3E619B;
}

#unameexist {
	color: red;
	font-size: 17px;
	margin-left: 5px;
}

#existemail {
	color: red;
	font-size: 17px;
	margin-left: 5px;
}

#errordob, #nameerror, #addresserror, #mobileerror, #emailerror,
	#usernameerror, #passworderror,#mobileexist {
	color: red;
	font-size: 17px;
	margin-left: 5px;
}

#actcreate{
	color: green;
	font-size: 17px;
	margin-left: 5px;
}
form .signup_btn {
	height: 45px;
	margin: 35px 0;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	padding: 10px;
	background-color: hsl(322, 100%, 66%);
}

form .signup_btn:active {
	background-color: hsl(322, 100%, 66%);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}