@import
	url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")
	;

@import
	url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap")
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	 background-image: url("../Images/bg-hero-desktop.svg"); 
}

 table {
	border-collapse: collapse;
	width: 90%;
	display: block;
	height: 400px;
	margin: 50px 80px;
	overflow-y: auto;
	border-spacing: 15px 5px;
	border-radius: 20px; 
}

th {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	background: #85adad;
}


tbody tr:hover {
	background-color: #9CD3D8;
}

td {
	padding: 15px;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	text-align: center;
	
} 

table::-webkit-scrollbar {
	display: none;
}


thead tr:nth-child(1) th {
	position: sticky;
	top: 0;
	z-index: 10;
}

td a {
	color:black;
	padding: 13px;
	background: transparent;
	text-decoration: none;
}

td a:hover {
	background-color: hsl(322, 100%, 66%);
	border-radius: 20px;
	cursor: pointer;
}

tr:nth-child(even) {
	background: transparent;
}
#seaterror{
	color: red;
}